@font-face {
    font-family: museo-slab;
    src: url(../fonts/Museo_Slab_500.otf);
}

:root {
    --back_color: #f9d195;
    --color_14: rgb(104, 57, 26);
    --font_5: normal normal bold 28px/1.4em museo-slab-w01-100, museo-slab-w05-100, serif;
}

#containerHome {
    background-color: var(--back_color);
}

.container {
    background-color: rgba(255, 255, 255, 0.862);
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.container p {
    color: var(--color_14);
    font-family: museo-slab;
}

body {
    background-color: var(--back_color);
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    resize: none;
}

.grupoForm {
    padding-bottom: 1em;
}

.form-control {
    border-color: slategrey;
}

.form-control:focus {
    border-color: black;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px gray;
}

#tituloCardapio {
    border-bottom: 0.01rem dashed black;
}

.preco {
    font-style: italic;
}

.cardapio {
    padding: 2.5rem;
}

.c-cardapio {
    border: none;
    height: 100%;
    background: rgba(0, 0, 0, 0);
}

.card-text {
    font-size: 1.2rem;
}

.card-title {
    font-size: 1.5rem;
}

.card-title {
    font: var(--font_5);
    white-space: normal;
}

.d_membro {
    margin-top: 3rem;
}

.d_membro>.card {
    background: rgba(0, 0, 0, 0);
}

.d_membro>img {
    height: 100%;
    width: auto;
}

.d_membro>.card>p {
    font-weight: bold;
}

.galeria {
    border-color: white !important;
    border-style: dashed !important;
}

.sociais {
    display: flex;
    justify-content: center;
}

.sociais>a {
    padding-left: 1rem;
    padding-right: 1rem;
}

.sociais>img {
    object-position: center;
    max-width: 100%;
    height: auto;
}

.sociais {
    border: none;
    background: rgba(0, 0, 0, 0);
    height: 100%;
}